<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-address-book fa-6x"></i>
    <h1 class="display-3">Phone Book</h1>
    <p class="phone-text">Enter phone book details</p>

    <form action="/create" method="POST">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="mobile">Mobile No</label>
        <input type="number" class="form-control" name="mobileNumber" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="text" class="form-control" name="phoneEmail" placeholder="Enter Email">
      </div>

      <button type="submit" class="btn btn-dark">Create</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
