<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Successfuly login</h1>
      <p class="phone-text"><%= name %></p>
      <hr>
      
      <hr>

      <a class="btn btn-dark" href="/create" role="button">Create Phone Book</a>
      <a class="btn btn-dark" href="/edit" role="button">Edit Phone Book</a>
      <a class="btn btn-dark" href="/logout" role="button">Logout</a>
      
    </div>
  </div>

  <%- include('partials/footer') %>