
body {
  background-color: #e9ecef;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.phone-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #b85151;
}
